<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8" />
    <title>My Web Page</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="indexPage">
    <div class="container">
        <h1 class="text-center p-2">Welcome to My Web Page</h1>
        <div class="row centered-row p-2">

            <!-- Different login buttons-->
            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/bar.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">BAR</h5>
                      <p class="card-text">Tryk her hvis du står i baren</p>
                      <a href="#" class="btn btn-primary">Log på</a>
                    </div>
                </div>
            </div>

            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/bar.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LAGER</h5>
                      <p class="card-text">Tryk her hvis du står på lageret</p>
                      <a href="#" class="btn btn-primary">Log på</a>
                    </div>
                </div>
            </div>

            <div class="col-md-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/bar.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">OPRET STAGEHAND</h5>
                      <p class="card-text">Opret dit som stagehand i dag</p>
                      <a href="#" class="btn btn-primary">Opret</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Your content goes here -->
    
</body>
</html>