<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klikbar prototype</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.back-arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}


</style>
<body>
    <iframe src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/proto/F0ZJgmvOd6qrWY4YQ3hegz/Gimle?node-id=187-58&t=8K8w5Jui1eeSQiAX-0&scaling=contain&page-id=187%3A57&starting-point-node-id=187%3A58" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" allowfullscreen></iframe>
</body>
</html>